<% content_for :sidebar do %>
<li class="nav-header"><font size="4">User action</font></li>
<font size="3">
  <%= link_to 'New user', new_user_path %></br>
</font>
<% end %>

<h1>Listing users</h1>

<table  class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Login name</th>
    <th>Shoe Size</th>
    <th>Description</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= user.login_name %></td>
    <td><%= user.shoe_size %></td>
    <td><%= user.description %></td>
  </tr>
<% end %>
</table>
