<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Login name:</b>
  <%= @user.login_name %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Shoe Size:</b>
  <%= @user.shoe_size %>
</p>

<p>
  <b>Description:</b>
  <%= @user.description %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', users_path %>
