<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Login name:</b>
  <%= @user.login_name %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Description:</b>
  <%= @user.description %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<br />

<h1>Listing books</h1>

<table class="books">
  <tr>
    <th>Thumbnail</th>
    <th>Title/Author</th>
    <th>Command</th>
  </tr>

  <% @books.each do |book| %>
  <tr>
    <td class="thum"><center>
        <%= image_tag(book.image.path) unless (book.image == nil) %>
    </center></td>

    <td class="title">
      <%= book.title %><br />
      <%= book.author %><br />
      <%= book.publisher %>
    </td>

    <td class="command">
      <%= link_to 'Amazon', book.amazon_url %><br />
      <%= link_to 'return', :controller => "books", :action => "return", :id => book.id %><br />
      <%= link_to 'Show', book %><br />
      <%= link_to 'Edit', edit_book_path(book) %><br />
      <%= link_to 'Destroy', book, confirm: 'Are you sure?',
          method: :delete %>
    </td>
  </tr>
  <% end %>

  <br />
  <div id="side">
    <%= link_to 'New Book', new_book_path %><br />
    <%= link_to 'New Book from ISBN', new_from_isbn_path %><br/ >
      <%= link_to 'New Book from Plural ISBN', new_from_plural_isbn_path %><br />
  </div>
</table>
