<h1>Listing books</h1>

<table class="books">
  <tr>
    <th>Thumbnail</th>
    <th>Title/Author</th>
    <th>Command</th>
  </tr>
  
  <% @books.each do |book| %>
  <tr>
    <td class="thum"><center>
	<%= image_tag(book.image.path) unless (book.image == nil) %>
    </center></td>
    
    <td class="title">
      <%= book.title %><br />
      <%= book.author %><br />
      <%= book.publisher %>
    </td>
    
    <td class="command">
      <%= link_to 'Amazon', book.amazon_url %><br />
      <%= case book.status
	  when 0
	  when 1
	  when 2
	  when 3
            link_to('lend', :action => "lend", :id => book.id)
          when 4
            if User.current.borrowing.include? book
              link_to('return', :action => "return", :id => book.id)
            else
              "貸し出し中"
            end
          when 5
          when 6
          else
          end %><br />
      <%= link_to 'Show', book %><br />
      <%= link_to 'Edit', edit_book_path(book) %><br />
      <%= link_to 'Destroy', book, confirm: 'Are you sure?',
          method: :delete %>
    </td>
  </tr>
  <% end %>
  
  <br />
  <div id="side">
    <%= link_to 'New Book', new_book_path %><br />
    <%= link_to 'New Book from ISBN', new_from_isbn_path %><br/ >
      <%= link_to 'New Book from Plural ISBN', new_from_plural_isbn_path %><br />
  </div>
</table>
