<h1>New Book from ISBN</h1>
 
<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
    <ul>
    <% @book.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag(:action => :create_from_isbn, :method => "post" ) do  %>
  <%= text_field_tag (:isbn) %>
  <%= submit_tag "create" %>
<% end %>
