<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>

<p>
  <b>Isbn13:</b>
  <%= @book.isbn13 %>
</p>

<p>
  <b>Price:</b>
  <%= @book.price %>
</p>

<p>
  <b>Page:</b>
  <%= @book.page %>
</p>

<p>
  <b>Width:</b>
  <%= @book.width %>
</p>

<p>
  <b>Height:</b>
  <%= @book.height %>
</p>

<p>
  <b>Depth:</b>
  <%= @book.depth %>
</p>

<p>
  <b>Status:</b>
  <%= @book.status %>
</p>

<h2>Review</h2>
  <%= render :partial => "review" %>
  

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
