<script>
  $(function(){
    $(":radio").on("click", function(){
      $(this).parent().siblings().find(":checkbox").prop("checked", true);
    });
  });

  $(function(){
    $(":checkbox").on("click", function(){
      $(this).parent().siblings().find(":radio").prop("checked", false);
    });
  });
</script>

<h1>Manage bowling players</h1>
<%= form_tag "register_players" do %>
<table class="table table-striped">

  <tr>
    <th><i class="icon-check"></i></th>
    <th>Name</th>
    <% @bowling_teams.each do |team| %>
    <td><%= team.name %></td>
    <% end %>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <% if user.bowling_scores.where(["bowling_match_id = ?", @bowling_match.id]).present? %>
      <td><%= check_box_tag "player[#{user.id}]", "true", {:checked => true} %></td>
    <% else %>
      <td><%= check_box_tag "player[#{user.id}]", "true" %></td>
    <% end %>
    <td><%= user.name %></td>
    <% @bowling_teams.each do |team| %>
      <% if user.bowling_teams.where(["bowling_team_id = ?", team.id]).present? %>
        <td><%= radio_button_tag "team[#{user.id}]", team.id, {:checked => true} %></td>
      <% else %>
        <td><%= radio_button_tag "team[#{user.id}]", team.id %></td>
      <% end %>
    <% end %>
  </tr>
  <% end %>
</table>
<%= submit_tag("Submit", :class => "btn btn-default")%>
<% end %>
