<h1>Manage Team members</h1>
<table class="table table-striped">

  <%= form_tag("register_team_members") do %>
  <% @users.each do |user| %>
  <tr>
    <td><%= check_box_tag "team[#{user.id}]", "true" %></td>
    <td><%= label_tag user.name %></td>
    <% @bowling_teams.each do |team| %>
    <td><%= radio_button_tag "aaaa", "#{team.id}" %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<%= submit_tag("Submit", :class => "btn btn-default") %>
<% end %>
