<h1>Recored <%= @bowling_match.name %>`s scores</h1>
<%= form_tag("update_bowling_match_scores") do %>
<table class="table table-striped">
  <% @participants_list.each do |user| %>
  <tr>
    <td><%= label_tag user.name %></td>
    <% (1..@game_number).each do |num| %>
     <% score = BowlingScore.find_by_user_id_and_bowling_match_id_and_game_number(user.id, @bowling_match.id, num)%>
      <td><%= number_field_tag "scores[#{user.id}][]", value = score.score, :id => "scores_#{user.id}_#{num}" %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<%= submit_tag("Submit")%>
<% end %>
