<script>
  $(function(){
     $("tr.bowling-team-member").css("display", "none");
     $("tr.non-top3-teams").css("display", "none");
     $("tr.non-top3-players").css("display", "none");
  })

  $(function(){
    $(".bowling-team-list tr.bowling-team").click(function(){
      $(this).siblings("tr.bowling-team-member"+"."+$(this).attr("id")).toggle();
    })
  })

  $(function(){
    $(":button.ranked-team").click(function(){
      $("tr.non-top3-teams").toggle()
      text = $(":button.ranked-team").text()
      if(text == "all"){
        $(":button.ranked-team").text("top3")
      }else{
        $(":button.ranked-team").text("all")
      }
    })
  })

  $(function(){
    $(":button.ranked-player").click(function(){
      $("tr.non-top3-players").toggle();
      text = $(":button.ranked-player").text()
      if(text == "all"){
        $(":button.ranked-player").text("top3")
      }else{
        $(":button.ranked-player").text("all")
      }
    })
  })
</script>

<% content_for :sidebar do %>
<li class="nav-header"><font size="4">Match action</font></li>
<font size="3">
  <%= link_to 'Edit match', {:controller => "bowling_matches", :action => "edit", :bowling_match_id => @bowling_match.id} %></br>
  <%= link_to 'Destroy match', {:controller => "bowling_matches", :action => "destroy", :bowling_match_id => @bowling_match.id},
  :confirm => "Are you sure you want to delete bowling match?", :method => :delete %></br>
</font>
</br>
<li class="nav-header"><font size="4">Team action</font></li>
<font size="3">
  <%= link_to 'Create team', {:controller => "bowling_teams", :action => "new", :bowling_match_id => @bowling_match.id}%></br>
</font>
</br>
<li class="nav-header"><font size="4">Player action</font></li>
<font size="3">
  <%= link_to 'Manage players', :action => "manage_bowling_players", :id => @bowling_match.id %></br>
  <%= link_to 'Edit scores', :action => "record_bowling_match_scores", :id => @bowling_match.id %></br>
  <%= link_to 'Import from excel', :action => "import_from_excel", :id => @bowling_match.id %></br>
</font>
<% end %>

<p id="notice"><%= notice %></p>
<h1><%= @bowling_match.name %></h1>

<p>
  <strong>Date:</strong>
  <%= @bowling_match.start_time.strftime("%Y/%m/%d %H:%M") + "-" + @bowling_match.end_time.strftime("%H:%M")%>
</p>

<p>
  <strong>GameNumber:</strong>
  <%= @bowling_match.game_number%>
</p>

<p>
  <strong>Steward:</strong>
  <%= @bowling_match.steward %>
</p>

<p>
  <h2>Result</h2>
  <% if @bowling_match.team_number != 0 %>
  <h3>Teams <button class="ranked-team btn btn-small btn-primary">all</button></h3>
  <table class="table table-striped ranked-team-list">
    <thead>
      <tr>
	<th>Rank</th>
	<th>Team</th>
	<th>Average Score</th>
      <tr>
    </thead>
    <tbody>
      <% rank = 1 %>
      <% BowlingTeam.top_n_of_bowling_match_id(@bowling_match.bowling_teams.size, @bowling_match.id).each do |team| %>
      <tr class=<%= rank<=3? "top3-teams" : "non-top3-teams"%>>
	<td><%= rank %></td>
	<td><%= team.name %></td>
	<td><%= team.average_score %></td>
      </tr>
      <% rank += 1 %>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <% if @bowling_match.users.length != 0 %>
  <h3>Players <button class="ranked-player btn btn-small btn-primary">all</button></h3>
  <table class="table table-striped ranked-player-list">
    <thead>
      <tr>
	<th>Rank</th>
	<th>Name</th>
	<% (1..@game_number).each do |num| %>
	  <th>Game<%= num %></th>
	<% end %>
	<th>Total Score</th>
	<th>Average Score</th>
      <tr>
    </thead>
    <tbody>
      <% rank = 1 %>
      <% User.top_n_of_bowling_match_id(@bowling_match.users.size, @bowling_match.id).each do |player| %>
      <tr class=<%= rank<=3? "top3-players" : "non-top3-players"%>>
	<td><%= rank %></td>
	<%= render :partial => "member_info", :locals => {:player => player, :bowling_match_id => @bowling_match.id}%>
      </tr>
      <% rank += 1 %>
      <% end %>
    </tbody>
  </table>
  <% end %>
</p>

<% if @bowling_match.team_number != 0 %>
<p>
<h2>Teams</h2>
<%= render :partial => "team_list", :locals => {:bowling_teams => @bowling_teams, :game_number => @game_number, :bowling_match_id => @bowling_match.id}%>
</p>
<% end %>

<% if @bowling_match.users.length != 0 %>
<p>
<h2>Players</h2>
<%= render :partial => "player_list", :locals => {:players_list => @players_list, :game_number => @game_number, :bowling_match_id => @bowling_match.id}%>
</p>
<% end %>



<%= link_to 'Back', bowling_matches_path %>
