<% content_for :sidebar do %>
<li class="nav-header"><font size="4">Team action</font></li>
<font size="3">
  <%= link_to 'Create team', {:controller => "bowling_teams", :action => "new", :bowling_match_id => @bowling_match.id}%></br>
</font>
</br>
<li class="nav-header"><font size="4">Participant action</font></li>
<font size="3">
  <%= link_to 'Manage participants', :action => "manage_bowling_participants", :id => @bowling_match.id %></br>
  <%= link_to 'Edit scores', :action => "record_bowling_match_scores", :id => @bowling_match.id %></br>
</font>
<% end %>

<p id="notice"><%= notice %></p>
<h1><%= @bowling_match.name %></h1>

<p>
  <strong>Date:</strong>
  <%= @bowling_match.start_time.strftime("%Y/%m/%d %H:%M") + "-" + @bowling_match.end_time.strftime("%H:%M")%>
</p>

<p>
  <strong>GameNumber:</strong>
  <%= @bowling_match.game_number%>
</p>

<p>
  <h2>Result</h2>
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Rank</th>
	<th>Team</th>
	<th>Average Score</th>
      <tr>
    </thead>
    <tbody>
    <% rank = 1 %>
      <% @bowling_teams.each do |team| %>
      <tr>
	<td><%= rank %></td>
	<td><%= team.name %></td>
	<td><%= team.average_score %></td>
      </tr>
      <% rank += 1 %>
      <% end %>
    </tbody>
  </table>
</p>

<% if @bowling_match.team_number != 0 %>
<p>
<h2>Teams</h2>
<%= render :partial => "team_list", :locals => {:bowling_teams => @bowling_teams, :game_number => @game_number, :bowling_match_id => @bowling_match.id}%>

</p>
<% end %>

<p>
<h2>Participants</h2>

<%= render :partial => "participant_list", :locals => {:participants_list => @participants_list, :game_number => @game_number, :bowling_match_id => @bowling_match.id}%>

</p>

<p>
  <strong>Filename:</strong>
  <%= @bowling_match.filename %>
</p>

<p>
  <strong>Steward:</strong>
  <%= @bowling_match.steward %>
</p>

<%= link_to 'Edit', edit_bowling_match_path(@bowling_match) %> |
<%= link_to 'Back', bowling_matches_path %>
