<p id="notice"><%= notice %></p>
<h1><%= @bowling_match.name %></h1>

<p>
  <strong>Date:</strong>
  <%= @bowling_match.start_time.strftime("%Y/%m/%d %H:%M") + "-" + @bowling_match.end_time.strftime("%H:%M")%>
</p>

<p>
  <strong>GameNumber:</strong>
  <%= @bowling_match.game_number%>
</p>

<p>
  <h2>Result</h2>
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Rank</th>
	<th>Team</th>
	<th>Average Score</th>
      <tr>
    </thead>
    <tbody>
    <% rank = 1 %>
      <% @bowling_teams.each do |team| %>
      <tr>
	<td><%= rank %></td>
	<td><%= team.name %></td>
	<td><%= team.average_score %></td>
      </tr>
      <% rank += 1 %>
      <% end %>
    </tbody>
  </table>
</p>

<p>
<h2>participants</h2>
<%= link_to 'Manage participants', :action => "manage_bowling_participants", :id => @bowling_match.id %>
<%= link_to 'Edit scores', :action => "record_bowling_match_scores", :id => @bowling_match.id %>
<table class="table table-striped">
<tr>
  <th>Name</th>
    <% (1..@game_number).each do |num| %>
      <th>Game<%= num %></th>
    <% end %>
    <th>Total</th>
    <th>Average</th>
    <th></th>
</tr>
<tr>
  <% @participants_list.each do |participant| %>
     <td><%= participant.name %></td>
     <% scores = participant.bowling_scores.map{|score| score.score} %>
     <% scores.each do |score| %>
       <td><%= score %></td>
     <% end %>
     <td><%= total = scores.compact.empty? ? nil : scores.compact.sum %></td>
     <td><%= average = total.blank? ? nil : total/scores.size %></td>
     <% bowling_score_ids = participant.bowling_scores.map{|score| score.id} %>
     <td><%= button_to "destroy", { :action => "destroy_bowling_scores", :score_ids => bowling_score_ids }, :confirm => "本当に削除しますか?", :method => :delete, :class => "btn btn-danger" %></td>
</tr>
<% end %>
</table>
</p>

<p>
  <strong>Filename:</strong>
  <%= @bowling_match.filename %>
</p>

<p>
  <strong>Steward:</strong>
  <%= @bowling_match.steward %>
</p>

<%= link_to 'Edit', edit_bowling_match_path(@bowling_match) %> |
<%= link_to 'Back', bowling_matches_path %>
