<table>
  <thead>
    <tr>
      <th>total page</th>
      <th>total depth</th>
      <th>total price</th>
    </tr>
  </thead>
    <tr>
      <td class="page"><%= @total_point[:page] %><%= "ページ" %></td>
      <td class="depth"><%= @total_point[:depth] %><%= "mm" %></td>
      <td class="price"><%= @total_point[:price] %><%= "円" %></td>      
    </tr>
</table>
