<table>
  <thead>
    <tr>
      <th><%= tc("word", "total_page") %></th>
      <th><%= tc("word", "total_depth") %></th>
      <th><%= tc("word", "total_price") %></th>
    </tr>
  </thead>
    <tr>
      <td class="page"><%= @total_point[:page] %><%= "ページ" %></td>
      <td class="depth"><%= @total_point[:depth] %><%= "mm" %></td>
      <td class="price"><%= @total_point[:price] %><%= "円" %></td>      
    </tr>
</table>
