<table class="read_history">
<caption>読書履歴</caption>
  <col class="title">
  <col class="author">
  <col class="page">
  <col class="depth">
  <col class="price">
  <!--<caption>読書履歴</caption>-->
  <thead>
    <tr>
      <th><%= tc("word", "title") %></th>
      <th><%= tc("word", "author") %></th>
      <th><%= tc("word", "page") %></th>
      <th><%= tc("word", "depth") %></th>
      <th><%= tc("word", "price") %></th>
    </tr>
  </thead>
    
  <% @histories.each do |history| %>
    <% book = Book.find(history.book_id) %>
    <tr>
      <td class="title"><%= book.title %></td>
      <td class="author"><%= book.author %></td>
      <td class="page"><%= book.page %><%= "ページ"%></td>
      <td class="depth"><%= book.depth %><%= "mm" %></td>
      <td class="price"><%= book.price %><%= "円" %></td>      
    </tr>
  <% end %>
</table>
