<table>
  <col class="title">
  <col class="author">
  <!--<caption>読書履歴</caption>-->
  <thead>
    <tr>
      <th>タイトル</th>
      <th>著者</th>
      <th>ページ数</th>
      <th>厚さ</th>
      <th>値段</th>
    </tr>
  </thead>
    
  <% @histories.each do |history| %>
    <% book = Book.find(history.book_id) %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.page %><%= "ページ"%></td>
      <td><%= book.depth %><%= "mm" %></td>
      <td><%= book.price %><%= "円" %></td>      
    </tr>
  <% end %>
</table>
