<table class="review">
  <title>Review</title>
  <thead>
  <caption>レビュー</caption>
  </thead>
  
  <th><%= tc("word", "num") %></th>
  <th><%= tc("word", "title") %></th>
  <th><%= tc("word", "review") %></th>
  <th><%= tc("word", "star") %></th>
  <th><%= tc("word", "command") %></th>
    <% n = 0 %>
    <% @reviews.each do |review| %>
    <% n += 1 %>
     <tr>
       <td><%= n %></td>
       <td><%= review.book.title %></td>
       <td><%= review.description %></td>
       <td><% i = 0 %>
           <% while( i < 10 ) %>
           <% if review.stars != nil && ( i < review.stars ) %>
             <%= "★" %>
           <% else %>
             <%= "☆" %>
           <% end %>
           <% i += 1 %>
           <% end %> 
       </td>
       <td>
         <%= link_to 'Edit', edit_review_path(review) %><br />
         <%= link_to 'Destroy', review, confirm: 'Are you sure?',
           method: :delete %><br/ >
       </td>
     </tr>
     <% end %>
   </tr>
 </tr>
</table>
