<p id="notice"><%= notice %></p>

<p>
  <b>Book:</b>
  <%= @review.book %>
</p>

<p>
  <b>User:</b>
  <%= @review.user %>
</p>

<p>
  <b>Description:</b>
  <%= @review.description %>
</p>

<p>
  <b>Stars:</b> 
  <% i = 0 %>
  <% while( i < 10 ) %>
    <% if( i < @review.stars ) %>
     <%= "★" %>
    <% else %>
     <%= "☆" %>
    <% end %>
  <% i += 1 %>
  <% end %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
