<!DOCTYPE html>
<html>
<head>
  <title>Nomcolle</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <h1 class="title">のむこれ</h1>
  <div class="logout">
    <%= button_to "ログアウト", :controller => "welcome", :action => "logout" %>
  </div>
</div>

<p style="color: red"><%= flash[:error] %></p>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
